<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/PayMyBuddyStylesheet.css}">
    <title>PayMyBuddy Application</title>
  </head>

  <body>
      <header><span class="typo_header">Pay My Buddy</span></header>

    <div id="menu_bloc">
        <div id="application_title_menu">
            <p>Pay My Buddy</p>
        </div>
          <nav>
            <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="/transfer">Transfer</a></li>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/logOff">Log off</a></li>
            </ul>
          </nav>
    </div>

    <div id="menu_second">
        <ul>
          <li><a href="/home">Home</a></li>
          <li>/</li><li>
          </li><li><a href="/transfer">Transfer</a></li>
        </ul>
    </div>

      <div id="connection_head">
        <div id="connection_title"><p>Send Money</p></div>
        <ul>
          <li><a href="/connection">Add Connection</a></li>
        </ul>
      </div>
          
      <section id="connection_section">
        <form name="newTransferForm" method="post" th:action="@{/transfer}">
            <select name="emailCorrespondence" id="emailCorrespondence">
              <option value="" disabled selected hidden>Select a Connection</option>
              <option th:each="correspondence : ${correspondences}" th:text="${correspondence.emailCorrespondence}" th:value="${correspondence.emailCorrespondence}"></option>
            </select>
            <input type="number" id="amount" name="amount" value="${amount}" placeholder="0€">
            <input type="submit" id="pay" name="pay" placeholder="Pay">
        </form>
      </section>

      <section>
        <table>
          <div id="transaction_title"><p>My Transactions</p></div>

          <tr id="first_line_table">
            <th>Connections</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>
          <tr th:each="transfer : ${transfers}">
            <td th:text="${transfer.correspondence.emailCorrespondence}"></td>
            <td th:text="${transfer.description}"></td>
            <td th:text="${transfer.amount}"></td>
          </tr>
        </table>
      </section>
  </body>
</html>