<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/PayMyBuddyStylesheet.css}">

        <title>PayMyBuddy Application</title>
    </head>

    <body>
            <header><span class="typo_header">Pay My Buddy</span></header>

                <section id="login_section">

                    <div id="Application_Title">
                        <p>Pay My Buddy</p>
                    </div>

                    <form name="f" method="post" th:action="@{/login}">

                        <div>
                            <input type="text" id="loginEmail" name="email" class="form-control" placeholder="Email">
                        </div>

                        <div>
                            <input type="password" id="loginPassword" name="password" class="form-control" placeholder="Password">
                        </div>

                        <div>
                            <input type="checkbox" id="checkBox" name="checkBox" value="checkBox" checked>
                            <label for="checkBox">Remember me</label>
                        </div>

                        <div>
                            <input type="submit" id="login_button" value="Login">
                        </div>

                    </form>
            </section>
    </body>
</html>